/* default CSS values */
* {
    margin: 0;
    padding: 0;
}


body { 
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif; 
}

    /* apply styles to <header> */
    header {
        padding: 20px 35px;
        background-color: #39a6b2; 
 }

        /* heder h1 style bold, font and color */
         header h1 {
             font-weight: bold;
             font-size: 36px;
             color:#fce138;
             margin: 0;
             display: inline;
        }
            /* header color <a> */
            header a {
                text-decoration: none;
                color: #fce138;
            }
                 /* Header nav style */
                header nav {
                        float: right;
                        margin: 7px 0;
                }
                        /* header nav ul li */
                        header nav ul li {
                            display: inline;
                        }
                                /* header nav ul li a margin, font weight and font size */
                                header nav ul li a {
                                    margin: 0 30px;
                                    font-weight: lighter;
                                    font-size: 22px;
                                }
